.sidebar {
  width: 300px;
  background: #000;
  padding: 20px;
  border-right: 1px solid #222;
}

.sidebar h1 {
  color: #1db954;
}

.player-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.play-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #1db954;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.play-btn:hover {
  opacity: 0.9;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.menu a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 18px;
}

.menu a.active {
  color: #1db954;
  font-weight: bold;
}

.favorite-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #ff000065;
  cursor: pointer;
}

.favorite-btn:hover {
  opacity: 0.9;
}
