body {
  margin: 0;
  background: #121212;
  color: white;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
